body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.texto-centralizado {
    font-size: 3rem; 
    text-align: center; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}